<form id="newDocumentForm" action="/documents/new" method="POST">
  <div class="btn-group btn-group-sm" role="group" aria-label="Navigation">
    <a class="btn btn-secondary" href="/documents" title="Back to documents">
      <span data-feather="chevron-left"></span>
    </a>
    <button type="submit" class="btn btn-primary">
      <span data-feather="save"></span>
    </button>
  </div>
  <hr />

  <fieldset class="form-group">
    <legend class="h5">Document details</legend>
    <div class="form-group row">
      <label for="employeeSelect" class="col-md-2 col-form-label">Employee</label>
      <div class="col-md-4">
        <select class="form-control form-control-sm" id="employeeSelect" name="document[employee_id]" required="required">
          {{#each employees}}
            <option value="{{this.id}}">{{this.fullName}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="documentTypeSelect" class="col-md-2 col-form-label">Type</label>
      <div class="col-md-4">
        <select class="form-control form-control-sm" id="documentTypeSelect" name="document[type_id]" required="required">
          {{#each documentTypes}}
            <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <small id="documentTypeSelectHelp" class="form-text text-muted">Select document type to get more details.</small>
      </div>
    </div>
  </fieldset>

  <!-- Travel -->
  <div class="form-group d-none" id="newDocumentFormTravelDetails">
    <fieldset class="form-group">
      <legend class="h6">Travel details</legend>
      <div class="form-group row">
        <label for="travelPurposeSelect" class="col-md-2 col-form-label">Purpose</label>
        <div class="col-md-4">
          <select class="form-control form-control-sm" id="travelPurposeSelect" name="travel[purpose_id]" required="required">
              <option value="1">Sedinta</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="travelDestinationSelect" class="col-md-2 col-form-label">Destination</label>
        <div class="col-md-4">
          <select class="form-control form-control-sm" id="travelDestinationSelect" name="travel[destination_id]" required="required">
              <option value="1">Sedinta</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="travelDateStartInput" class="col-md-2 col-form-label">Date start</label>
        <div class="col-md-4">
          <input type="date" class="form-control form-control-sm" id="travelDateStartInput" name="travel[date_start]" required="required" />
        </div>
      </div>
      <div class="form-group row">
        <label for="travelDateEndInput" class="col-md-2 col-form-label">Date end</label>
        <div class="col-md-4">
          <input type="date" class="form-control form-control-sm" id="travelDateEndInput" name="travel[date_end]" required="required" />
        </div>
      </div>
      <div class="form-group row">
        <label for="travelDepartureLeaveTimeInput" class="col-md-2 col-form-label">Departure leave</label>
        <div class="col-md-4">
          <input type="datetime-local" class="form-control form-control-sm" id="travelDepartureLeaveTimeInput" name="travel[departure_leave_time]" required="required" />
        </div>
      </div>
      <div class="form-group row">
        <label for="travelDestinationArrivalTimeInput" class="col-md-2 col-form-label">Destination arrival</label>
        <div class="col-md-4">
          <input type="datetime-local" class="form-control form-control-sm" id="travelDestinationArrivalTimeInput" name="travel[destination_arrival_time]" required="required" />
        </div>
      </div>
      <div class="form-group row">
        <label for="travelDestinationeLeaveTimeInput" class="col-md-2 col-form-label">Destination leave</label>
        <div class="col-md-4">
          <input type="datetime-local" class="form-control form-control-sm" id="travelDestinationeLeaveTimeInput" name="travel[destination_leave_time]" required="required" />
        </div>
      </div>
      <div class="form-group row">
        <label for="travelDepartureArrivalTimeInput" class="col-md-2 col-form-label">Departure arrival</label>
        <div class="col-md-4">
          <input type="datetime-local" class="form-control form-control-sm" id="travelDepartureArrivalTimeInput" name="travel[departure_arrival_time]" required="required" />
        </div>
      </div>
    </fieldset>
  </div>
  <!-- /Travel -->

  <!-- Reimbursement(s) -->
  <div class="form-group d-none" id="newDocumentFormReimbursementDetails">
    <fieldset class="form-group">
      <legend class="h6">Reimbursement(s) details</legend>
      <div class="form-group row">
        <label for="reimbursementTypeSelect" class="col-md-2 col-form-label">Type</label>
        <div class="col-md-4">
          <select class="form-control form-control-sm" id="reimbursementTypeSelect" name="reimbursement[0][purpose_id]" required="required">
              <option value="1">Bon combustibil</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="reimbursementValueInput" class="col-md-2 col-form-label">Value</label>
        <div class="col-md-4">
          <input type="number" class="form-control form-control-sm" id="reimbursemnetValueInput" name="reimbursement[0][value]" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label for="reimbursementValueInput" class="col-md-2 col-form-label">Date</label>
        <div class="col-md-4">
          <input type="date" class="form-control form-control-sm" id="reimbursementDateInput" name="reimbursement[0][date]" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label for="reimbursementDocumentNumberInput" class="col-md-2 col-form-label">Document number</label>
        <div class="col-md-4">
          <input type="text" class="form-control form-control-sm" id="reimbursementDocumentNumberInput" name="reimbursement[0][number]" required="required">
        </div>
      </div>
    </fieldset>
  </div>
  <!-- /Reimbursement(s) -->
</form>