<table class="table table-sm table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      <th scope="col">Total</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each documents}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.employee.fullName}}</td>
      <td>{{> status_badge status_id=this.status_id status=this.status.name }}</td>
      <td>{{this.type.name}}</td>
      <td>120</td>
      <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
          <button type="button" class="btn btn-secondary"><span data-feather="printer"></span></button>
          <button type="button" class="btn btn-secondary"><span data-feather="eye"></span></button>
          <button type="button" class="btn btn-secondary"><span data-feather="edit"></span></button>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>