<div class="row">
  <div class="col-md-3">
    <div class="card mb-3 box-shadow">
      <div class="card-body">
        <span data-feather="folder"></span> 
        <a href="/documents">Documents</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-3 box-shadow">
      <div class="card-body">
        <span data-feather="users"></span> 
        <a href="/employees">Employees</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card mb-3 box-shadow">
      <div class="card-body">
        <span data-feather="home"></span> 
        <a href="/companies">Companies</a>
      </div>
    </div>
  </div>
</div>