<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Reimbursements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <span data-feather="home"></span> Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/documents">
              <span data-feather="folder"></span> Documents
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown-menu-employees" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span data-feather="users"></span> People
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown-menu-employees">
              <a class="dropdown-item" href="/employees">List</a>
              <a class="dropdown-item" href="/companies">Companies</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="content">
        {{{body}}}
      </div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/dist/jquery.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/dist/jquery-slim.min.js"><\/script>')</script>
    <script src="/dist/umd/popper.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Custom -->
    <script src="/javascripts/main.js" ></script>
  </body>
</html>
